<GridLayout rows="*">
    <RadListView [items]="items" loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
        [listViewLayout]="layout">
        <template listItemTemplate let-item="item">
            <GridLayout rows="*, auto" backgroundColor="red">
                <GridLayout rows='*,auto' margin="10" borderRadius='5'>
                    <Image row=0 [src]="item.imageUrl" stretch="none"></Image>
                    <Label row=1 [text]="item.blogName" style="padding: 5 0 10 0; font-size: 20pt; font-weight: bold; color: black;"></Label>
                </GridLayout>
            </GridLayout>
        </template>
        <StackLayout *listLoadOnDemandTemplate height=100>
            <Label text=""></Label>
        </StackLayout>
    </RadListView>
</GridLayout>